<launch>

    <arg name="odometry" default="odometry" />
    <arg name="occupancy_grid" default="occupancy/accumulated" />
    <arg name="occ_grid_params" default="/occupancy_grid_accumulated" />
    <arg name="fixed_frame" default="local_map" />
    <arg name="robot_frame_id" default="isns_link" />
    <arg name="lidar_topic" default="/vlp16/velodyne_points" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="isns_vlp16" args="0.3 0 0.15 0 0 0 isns_link vlp16" />

    <group>

        <arg name="manager" default="nodelet_manager" />

        <include file="$(find occupancy_grid)/launch/oneshot.launch">
            <arg name="manager" value="$(arg manager)"/>
            <arg name="nodelet" value="false"/>
            <arg name="queue_size" value="15" />
            <arg name="lidar_topic" value="$(arg lidar_topic)" />
            <arg name="odometry" value="$(arg odometry)" />
            <arg name="occupancy_params" value="./launch/config/occupancy_oneshot_pars.yaml" />
        </include>

    </group>

    <include file="$(find occupancy_grid)/launch/accumulated.launch">
        <arg name="queue_size" value="15" />
        <arg name="in_topic" value="oneshot" />
        <arg name="out_topic" value="$(arg occupancy_grid)" />
        <arg name="odometry" value="$(arg odometry)" />
        <arg name="occupancy_params" value="./launch/config/occupancy_accumulated_pars.yaml" />
    </include>

</launch>
