<launch>

<arg name="tf" default="true" />
<arg name="occupancy" default="true" />
<arg name="pnc" default="true" />

<include file="./tf.launch" if="$(arg tf)">
</include>

<include file="./occupancy.launch" if="$(arg occupancy)">
</include>

<include file="./pnc.launch" if="$(arg pnc)">
</include>

</launch>